@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.shaping{
    padding-bottom: 0px;
    font-size: 30px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 15px;
    box-sizing: 100em;
    width: 97%;
    margin-left: 1em;;
}
.container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 96%;
    max-width: 99%;
    background:rgba(255,255,255,0.95);
    padding: 9em;
    margin-top: 9em;
    border-radius: 25px;

}
.button{
    margin-top:1em;
}
.h3{
    position: absolute;
    font-size: 60px;
    padding-bottom: 20px;
    color: #173c62;
    margin-top:-2em;
}


    
  
  h2:before {
    margin-right: 8px;
    margin-top: 10px;
  }
  h2:after {
    margin-left: 8px;
    margin-top: 5em;
  }
  .para{
    color: #fff;
    font-size: 14vh;
    margin-left: 1em;
  }
  .final{
    background:rgba(37,70,94,255);
    backdrop-filter: blur(10px);
    margin-left: 44px;
    margin-top: -3em;
    margin-right: 44px;
    border-radius: 19px;
  }
  #stars {
    position: absolute;
    z-index:100;
    text-align: center;
    font-size: 11em;
    padding-left: 53%;
    color: #fff;
}
.form-control.form-control-lg {
    position: absolute;
    display: block;
    width: 88%;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
    margin-top: -4em;
    margin-left: 4em;
  }

  .form-control.form-control-lg::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .form-control form-control-lg{
    position: absolute;
    z-index:100;
    text-align: center;
  }
